*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
  scroll-behavior: smooth;
}
html, body{
    background-color: #f9f6ef;
    color: #1c1c1c;
    /* overflow-x: hidden; */
    transition: all 0.3s ease;
}
body {
  opacity: 1;
  transition: all 0.5s ease;
}

body.fade-out {
  opacity: 0;
}

.dark-mode {
  background-color: #1c1c1c;
  color: #f9f6ef;
}
body.dark-mode * {
  color: #f9f6ef !important;
}
.mode1{
    padding: 2%;
    position: fixed;
    right: 0;
    top: 0;
  }
  .mode1 button{
    
      font-family: 'Plus Jakarta Sans', sans-serif;
      color: #1c1c1c;
      
      border-style: none;
      background-color: transparent;
  }

  .postittle{
    padding: 3%;
  }
  .postittle h2{
    font-family: 'Zodiak', serif;
    font-weight: 200;
    font-size: 3rem;
  }
  .date{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
    font-size: .8rem;
  }
  .post {
        margin: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
  }
  .boxleft{
    flex: 1;
  }
  .boxleft img {
    width: 400px;
    height: 500px;
    object-fit: cover;
  }
  
  .boxright{
    flex: 2;
  }
  .boxright p{
    font-size: 1.3rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
  }
 
  .comment-section {
    padding: 5%;
  }
  .comment-section h3{
    font-size: 3rem;
    font-family: 'Zodiak', serif;
    font-weight: 200;
    padding-bottom: 1%;
  }
  input, textarea {
    display: block;
    background: none;
    color: #1c1c1c;
    width: 70%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
  }
  
  button.submit-btn {
    padding: 10px 15px;
    background: #007bff;
    color: #f9f6ef;
    border: none;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
  }
  
  .comments-list .comment {
    margin-top: 10px;
    padding: 10px;
    border-left: 3px solid #007bff;
    color: #1c1c1c;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 100;
  }
  .delete-btn {
    background: none;
    border: none;
    color: #dc3545;
    float: right;
    font-size: 16px;
    cursor: pointer;
    padding: 0 5px;
  }
  
  .delete-btn:hover {
    color: #a71d2a;
  }
  @media (max-width:768px) {
    .postittle{
      padding-top: 3rem;
    }
    .post{
      flex-direction: column;
    }
    .postittle h2{
      font-size: 2rem;
    }
    .boxright p{
      font-size: 0.8rem;
    }
    .date{
      font-size: 0.5rem;
    }
    .comment-section h3{
      font-size: 1rem;
    }
    .input, textarea{
      font-size: 0.8rem;
    }
    .comments-list .comment{
      font-size: 0.8rem;
    }
  }
  